<div class="row">
  <div class="col-4">
    <img src="https://placeimg.com/400/300" height="100" width="200">
  </div>

  <div class="col-2">
    <button class="btn btn-primary btn-block" title="1">1</button>
  </div>
  <div class="col-2">
    <button class="btn btn-outline-danger btn-block" title="2">2</button>
  </div>
  <div class="col-2">
    <button class="btn btn-warning btn-block" title="3">3</button>
  </div>
  <div class="col-2">
    <button class="btn btn-info btn-block" title="4">4</button>
  </div>

</div>